DATABASE_SERVER_PORT=3000
CATALOG_PORT=8001
AUTH_PORT=8002
RESERVA_PORT=8003
HOST=localhost
FRONT_URL=http://localhost:8000
JWT_SECRET=sua_chave_secreta_aqui
DB_HOST=seu_host_postgres
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=defaultdb
DB_PORT=28717
