HOST=localhost
FRONT_URL=http://localhost:8000
AUTH_BASE_URL=http://localhost:8002

JWT_SECRET=troque_este_segredo

DB_HOST=seu_host.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=sua_senha_aqui
DB_NAME=defaultdb
DB_PORT=28717

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=gerado_pelo_setup-ethereal
SMTP_PASS=gerado_pelo_setup-ethereal
SMTP_FROM=noreply@vivae.com
